# macOS system files
.DS_Store

# PyCharm / IntelliJ project settings
.idea/

# Python cache
__pycache__/
*.pyc

# Large datasets
*.csv
*.tsv
*.json
*.h5

Diabetes-Data-Shift/*.csv

*.log
*.tmp
.DS_Store
